# Ignore everything
*
 
# Ignore
Brana/Debug/*
.vs/*
 
# NON Ignore
 
!podklady/*
!ESP/*
 
!*/Brana/config.h
!*/Brana/main.c
!*/Brana/p2p.c
!*/Brana/Brana.componentinfo.xml
!*/Brana/Brana.cproj
!*/Brana/lib/*
 
!.gitignore
!README.md
!Brana.atsln